@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black text-gray font-medium antialiased tracking-tight;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply font-head text-5xl text-green;
}

h2 {
  @apply text-gray text-2xl font-head;
}

.markdown p {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}